snippet fork
\{ $1 \}.fork;
endsnippet

snippet play
\{ $1 \}.play;
endsnippet

snippet vfork
\{
${VISUAL}
\}.fork;
endsnippet

snippet vplay
\{ ${VISUAL} \}.play;
endsnippet

snippet dur
dur: $1,
endsnippet

snippet amp
amp: $1,
endsnippet

snippet note
note: $1,
endsnippet
